@charset "UTF-8";
/* НАЧАЛО ОБЩИЕ СТИЛИ */
/* НАЧАЛО подключаем шрифт "Debby": */
@font-face {
  font-family: "Debby";
  src: url("../fonts/debby/Debby.ttf") format("truetype");
  font-weight: normal; }
/* КОНЕЦ подключаем шрифт "Debby" */
/* НАЧАЛО подключаем шрифт "Century Gothic": */
@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic/CenturyGothic.woff") format("truetype");
  font-weight: normal; }
/* КОНЕЦ подключаем шрифт "Century Gothic" */
#aweb-widget-search-container {
  display: inline-block; }

#aweb-search-panel label span {
  padding: 0 12px;
  background: transparent;
  font-size: 14px;
  border-radius: 3px; }

#aweb-search-panel .aweb-direction label {
  background: rgba(0, 82, 75, 0.1) !important;
  color: #fff; }
  #aweb-search-panel .aweb-direction label span {
    color: #000; }

#aweb-search-panel .aweb-direction label.uk-active {
  background: rgba(0, 82, 75, 0.5) !important; }
  #aweb-search-panel .aweb-direction label.uk-active span {
    color: #fff; }

.aweb-btn {
  background-color: #00524b !important;
  text-transform: capitalize; }

.aweb-pax-select,
.aweb-datepicker,
.aweb-autocomplete {
  display: block;
  margin: 2px auto !important;
  background: white;
  border: 1px solid black !important; }

#aweb-search-panel {
  background: rgba(255, 255, 255, 0.7) !important; }
  @media screen and (min-width: 360px) {
    #aweb-search-panel {
      margin: 15px 0 0 30px; } }
  @media screen and (min-width: 375px) {
    #aweb-search-panel {
      margin: 15px 0 0 38px; } }
  @media screen and (min-width: 412px) {
    #aweb-search-panel {
      margin: 15px 0 0 55px; } }
  @media screen and (min-width: 768px) {
    #aweb-search-panel {
      margin: 15px 0 0 30px; } }

.aweb-label {
  text-transform: capitalize; }

.ui-button-text {
  text-transform: capitalize; }

body {
  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 18px; } }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #3e807a; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 5px; }

h2 {
  font-size: 24px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 30px; } }

.btn {
  display: inline-block;
  background: #00524b;
  color: white;
  padding: 10px 30px; }
  .btn:hover {
    background: #00857a;
    color: white; }

img.heading-img {
  display: block;
  margin: 0 auto;
  max-width: 75px;
  box-sizing: content-box; }

.uk-overlay-background {
  background-color: rgba(255, 255, 255, 0.7); }

.uk-pagination {
  margin-top: 0;
  margin-bottom: 25px; }
  .uk-pagination > .uk-active > span {
    background: #00a29b; }

/* КОНЕЦ ОБЩИЕ СТИЛИ */
.header__logo {
  padding-top: 50%;
  width: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-image: url("http://daphne.blink.kz/wp-content/uploads/2016/08/logo-1.png");
  background-repeat: no-repeat; }

.main__slider {
  padding-bottom: 40%;
  width: 100%;
  background-size: cover;
  background-position: 49% 96%;
  background-image: url("http://daphne.blink.kz/wp-content/uploads/2016/08/logo-1.png"); }

/* НАЧАЛО header */
header {
  background-color: #efefef;
  padding-bottom: 5px;
  position: relative;
  z-index: 10; }
  @media (min-width: 1220px) {
    header {
      background: 50% 100%/auto url("../img/background-plaster.jpg") repeat-x; } }
  header .language-switcher {
    margin: 0;
    text-align: center; }
    @media (min-width: 1220px) {
      header .language-switcher {
        padding: 30px 10px 25px 15px;
        float: left; } }
    header .language-switcher a {
      padding: 3px; }
      header .language-switcher a.active {
        font-weight: bold; }
  @media (min-width: 1220px) {
    header .navbar-and-contacts-col {
      float: right; } }
  header .navbar-and-contacts-col .contacts {
    font-size: 16px;
    text-align: center;
    padding: 15px 0 5px; }
    @media (min-width: 1220px) {
      header .navbar-and-contacts-col .contacts {
        text-align: right; } }
    header .navbar-and-contacts-col .contacts span.address {
      padding: 0 15px; }
    header .navbar-and-contacts-col .contacts span {
      display: block;
      margin-top: 10px; }
      @media (min-width: 480px) {
        header .navbar-and-contacts-col .contacts span {
          margin-top: 0;
          display: inline-block; } }
      @media (min-width: 960px) {
        header .navbar-and-contacts-col .contacts span + span::before {
          content: "|"; } }
      header .navbar-and-contacts-col .contacts span a {
        padding: 0 15px; }
  header .navbar-and-contacts-col .uk-navbar {
    background: transparent; }
    header .navbar-and-contacts-col .uk-navbar .uk-navbar-nav {
      float: none;
      text-align: center; }
      header .navbar-and-contacts-col .uk-navbar .uk-navbar-nav > li {
        float: none;
        display: inline-block;
        text-align: left; }
        header .navbar-and-contacts-col .uk-navbar .uk-navbar-nav > li > a {
          font-family: "Century Gothic", Arial, sans-serif;
          padding: 0 12px;
          background: transparent;
          font-size: 18px;
          border-radius: 3px; }
          header .navbar-and-contacts-col .uk-navbar .uk-navbar-nav > li > a:hover {
            background: rgba(0, 82, 75, 0.2); }
      header .navbar-and-contacts-col .uk-navbar .uk-navbar-nav > li.uk-active > a {
        background: rgba(0, 82, 75, 0.1); }
        header .navbar-and-contacts-col .uk-navbar .uk-navbar-nav > li.uk-active > a:hover {
          background: rgba(0, 82, 75, 0.2); }
    header .navbar-and-contacts-col .uk-navbar.uk-active {
      background: white;
      border-bottom: 2px #00524b solid;
      left: 0;
      right: 0; }
      header .navbar-and-contacts-col .uk-navbar.uk-active .uk-navbar-nav li > a,
      header .navbar-and-contacts-col .uk-navbar.uk-active .uk-navbar-nav li.uk-open > a {
        color: black;
        text-shadow: none; }
        header .navbar-and-contacts-col .uk-navbar.uk-active .uk-navbar-nav li > a:hover,
        header .navbar-and-contacts-col .uk-navbar.uk-active .uk-navbar-nav li.uk-open > a:hover {
          border-radius: 0; }
      header .navbar-and-contacts-col .uk-navbar.uk-active .uk-navbar-nav li.uk-active > a {
        border-radius: 0;
        background: #00b8a8;
        color: white; }
  header .uk-offcanvas .uk-nav-sub {
    background: rgba(255, 255, 255, 0.2); }
    header .uk-offcanvas .uk-nav-sub li a {
      padding: 5px 0; }

/* КОНЕЦ header */
/* НАЧАЛО footer */
footer {
  background-color: #0096ac;
  position: relative;
  color: black;
  padding-bottom: 30px; }
  footer .slogan-box {
    padding: 20px;
    background: 50% 50%/cover url("../img/footer-slogan-backround.png") border-box;
    color: #00524b;
    font-size: 28px;
    font-family: "Debby", fantasy;
    text-align: center;
    margin-bottom: 25px; }
    @media screen and (min-width: 768px) {
      footer .slogan-box {
        font-size: 48px; } }
  footer [class*=uk-width] {
    padding-top: 10px;
    padding-bottom: 10px; }
    footer [class*=uk-width] p {
      text-align: center; }
      @media screen and (min-width: 768px) {
        footer [class*=uk-width] p {
          text-align: left; } }
  footer .logo {
    max-width: 280px; }

/* КОНЕЦ footer */
/******************************
НАЧАЛО страницы Главная
*******************************/
/* НАЧАЛО main-section */
.main-section {
  background: 50% 100%/cover;
  background-clip: content-box;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .main-section {
      background: 50% 100%/cover;
      position: relative;
      height: 100vh;
      padding-top: 84px;
      margin-top: -84px; } }
  .main-section .content-area {
    background: white;
    text-align: center;
    padding-top: 300px;
    background-clip: content-box; }
    @media (min-width: 768px) {
      .main-section .content-area {
        padding-bottom: 15px;
        padding-top: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: 50% 50%/cover url("../img/main_content-background.png"); } }
    .main-section .content-area img {
      padding-top: 15px; }
    .main-section .content-area h2 {
      color: #00524b;
      font-size: 36px;
      font-family: "Debby", fantasy;
      margin: 0; }
      @media (min-width: 768px) {
        .main-section .content-area h2 {
          font-size: 48px; } }

/* КОНЕЦ main-section */
/* НАЧАЛО advantages */
.advantages {
  background: url("../img/background-plaster.jpg");
  padding: 25px 0;
  text-align: center; }
  .advantages img.heading-img {
    margin-bottom: 25px; }
  .advantages h3 {
    font-weight: bold; }
  .advantages li img {
    max-width: 150px; }
    @media (min-width: 768px) {
      .advantages li img {
        max-width: 100%; } }

/* КОНЕЦ advantages */
/* НАЧАЛО about */
.about {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center; }
  .about [class*=uk-width] {
    padding-top: 10px;
    padding-bottom: 10px; }
    .about [class*=uk-width] img {
      max-width: 250px; }
      @media (min-width: 768px) {
        .about [class*=uk-width] img {
          max-width: 100%; } }

/* КОНЕЦ about */
/* НАЧАЛО promotions */
.promotions {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center; }
  @media (min-width: 768px) {
    .promotions {
      text-align: left;
      background: linear-gradient(115deg, white 0%, white 40%, transparent 40%, transparent 100%), 50% 50%/cover url("../img/main-background-1.jpg"); } }
  .promotions h2 {
    font-family: "Debby", fantasy;
    font-size: 48px; }
  @media (min-width: 768px) {
    .promotions .content-box {
      max-width: 300px; } }

/* КОНЕЦ promotions */
/* НАЧАЛО reviews */
.reviews {
  background: url("../img/background-plaster.jpg");
  padding: 25px 0;
  text-align: center; }
  .reviews img.heading-img {
    margin-bottom: 25px; }
  .reviews h3 {
    font-family: "Debby", fantasy;
    font-size: 36px;
    background: 50% 50%/100% 100% url("../img/reviews-names-background.png");
    padding: 40px; }

/* КОНЕЦ reviews */
/******************************
КОНЕЦ страница Главная
*******************************/
/******************************
НАЧАЛо страница О нас
*******************************/
.about-menu li.uk-active {
  background: #0096ac;
  color: white; }

.form-about .uk-grid {
  padding-top: 25px;
  padding-bottom: 25px;
  background-size: cover;
  background-image: url(../img/form-img.jpg); }
.form-about form {
  background: rgba(255, 255, 255, 0.6);
  padding: 25px; }
  .form-about form h3 {
    font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px; }
.form-about .uk-grid > .form-background input {
  display: block;
  width: 50%;
  box-sizing: border-box;
  margin: 15px auto;
  border: 1px solid black;
  padding: 10px 5px;
  color: black;
  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px; }
.form-about .uk-grid > .form-background input[type="submit"] {
  background: #0096ac;
  padding: 15px; }

/******************************
КОНЕЦ страница О нас
*******************************/
/******************************
НАЧАЛо страница Cпецпредложения
*******************************/
.block-services .service-img, .custom-visa .service-img {
  background-size: cover;
  width: 100%;
  background-image: url(../img/form-img.jpg);
  padding-bottom: 70%; }
.block-services h3, .custom-visa h3 {
  font-size: 28px;
  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  margin-top: 0 !important; }
.block-services img, .custom-visa img {
  max-width: 100% !important; }
.block-services button.uk-button, .custom-visa button.uk-button {
  background: #0096ac;
  color: white;
  font-size: 24px;
  margin: 15px auto; }
.block-services form h3, .custom-visa form h3 {
  color: black; }
.block-services form input, .custom-visa form input {
  display: block;
  margin: 10px auto;
  width: 100%;
  background: white;
  border: 1px solid black;
  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 10px 5px;
  box-sizing: border-box; }
.block-services form input[type="submit"], .custom-visa form input[type="submit"] {
  background: #0096ac;
  color: white;
  font-size: 30px; }
.block-services form input[type="text"]:disabled, .custom-visa form input[type="text"]:disabled {
  background: #0096ac;
  color: white; }

/******************************
КОНЕЦ страница Cпецпредложения
*******************************/
/******************************
НАЧАЛО страница Туры Каталог
*******************************/
.tour-catalog-block {
  border: 1px solid #0096ac;
  padding-bottom: 10px; }
  .tour-catalog-block .tour-img-catalog {
    background-image: url(../img/form-img.jpg);
    background-size: cover;
    width: 100%;
    padding-bottom: 60%; }
  .tour-catalog-block h3 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px; }
  .tour-catalog-block article {
    font-size: 16px;
    margin-bottom: 15px; }
  .tour-catalog-block a {
    text-decoration: underline; }

/******************************
КОНЕЦ страница Туры Каталог
*******************************/
.contacts h3 {
  margin-top: 5px; }

/*# sourceMappingURL=styles.css.map */
